<launch>
  <!-- Load the configuration file -->
  <rosparam command="load" file="$(find riegl)/launch/parameters_backpack.yaml" /> 

  <node pkg="rclock" type="timepublisher" name="timepublisher"/>
  <node pkg="riegl" name="rxplogger" type="rxplogger" />
  <node pkg="riegl" name="tslogger" type="tslogger" />
  <node pkg="riegl" name="rieglctr" type="ctr" respawn="true"/>
  <node pkg="lms100" name="sick_front" type="sicksensor" />
  <node pkg="phidgets_imu" name="imu" type="phidgets_imu_node" />
  <node pkg="imu_filter_madgwick" name ="imu_filter" type="imu_filter_node" />

  <param name="/imu_filter/publish_tf" type="bool" value="false" />
  
</launch>
