<launch>
  <!-- Load the configuration file -->
  <rosparam command="load" file="$(find volksbot)/launch/config/parameters.yaml" />


<node pkg="volksbot" name="joystick_control" type="jscontrol" output="screen"/>

<node pkg="bachelorarbeit" name="WPhandler" type="WPhandler" 
output="screen"/>

</launch>
